<div class="gmap">
  <agm-map 
    [latitude]="lat" 
    [longitude]="lng" 
    [zoom]="zoom">

    <agm-data-layer 
      [geoJson]="geoJsonObject" 
      (layerClick)="infoWindow.open();clickHandler($event)" 
      [style]="styleFunc">
    </agm-data-layer>

    <agm-info-window #infoWindow [isOpen]="infowinIsOpen" [latitude]="infowinLat" [longitude]="infowinLng">
              <strong>{{infowinMsg[0]}}</strong>
              <p>{{infowinMsg[1]}}</p>
              <p>{{infowinMsg[2]}}</p>
    </agm-info-window>

  </agm-map>
</div>
