<div class="gmap">
  <agm-map 
    [latitude]="lat" 
    [longitude]="lng" 
    [zoom]="zoom">

    <agm-data-layer 
      [geoJson]="facility_geojson" 
      (layerClick)="infoWindow.open();click_handler($event)" 
      [style]="facility_style">
    </agm-data-layer>

    <agm-data-layer 
      [geoJson]="huc8_geojson" 
      (layerClick)="infoWindow.open();click_handler($event)"
     [style]="huc8_style">
    </agm-data-layer>

    <agm-info-window #infoWindow [isOpen]="infowinIsOpen" [latitude]="infowinLat" [longitude]="infowinLng">
              <strong>{{infowinMsg[0]}}</strong>
              <p>{{infowinMsg[1]}}</p>
              <p>{{infowinMsg[2]}}</p>
    </agm-info-window>

  </agm-map>
</div>
